*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
}
/* header */
.encabezado {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw0agvVvnWb5mISfja4eDdv73spR9rgrWIFA&usqp=CAU);
    background-repeat: repeat;
    display: flex; 
    justify-content: space-evenly;  
    align-items:center;
    height: 100px;
}
.navbar-toggler{
    background:var(--border-color);
}
:root {
    --border-color: linear-gradient(
    to right,
    green -50%,
    yellow 70%)

}
/*logo*/
.logo {
    height: 85px;
    border-radius: 10px;
    border-style: groove;
    background:var(--border-color);
    width: auto;
    padding: 2px;
}
:root {
    --border-color: linear-gradient(
    to right,
    tomato 0%,
    gold 100%)
}
.logo:hover {
    padding: 10px 25px;
    border-style: double ;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0,6s ease 0s;
}
 /*navegador*/
nav ul li {
    list-style: none;
    display: inline-block;
    background:var(--border-color);
    border-radius: 30px;
    padding: 16px;
}
:root {
    --border-color: linear-gradient(
    to right,
    green -50%,
    yellow 70%)

}
nav ul li a:hover{
    color: #000000ed;
    padding: 10px 25px;
    background-color: #f5000032;
    border-style: groove;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
}
a {
    text-decoration: double;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(0, 0, 0)
}
/* titulo*/
#titulo {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    background:var(--border-color);  
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    background-color: #000000;
}
:root {
    --border-color: linear-gradient(
    to right,
    green 0%,
    yellow 100%)

}
/* body */
body{
    background-color: #000000
}

/*main */
main {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 30px 30px;
}


/*inicio de pagina de Inicio*/
#contenedorInicio{
    background-color: rgb(2, 2, 2);
    justify-content: center;
    align-items: center;
}
/*Primer seccion Imagen del Inicio*/
.contenedorInicioPrincipal{
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 100%;
}
.contenedorInicioPrincipal a .imagenTienda{
    display: inline-flex;
    border-radius: 50px;
    height: 400px;
    width: 80%;
    background:var(--border-color);
    border-style: double;
}
.contenedorInicioPrincipal .subtitulo1 {
    width: 400px;
    background-color: #a4a4a484;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    border-radius: 20%;
    margin: auto;
    padding: 10px 10px;
}

.imagenTienda:hover {
    padding: 15px 15px;
    border-style: double;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0,6s ease 0s;
}
/*Fin Primer Imagen del Inicio*/
/*segunda seccion de imagenes del Inicio*/
#contenedorInicioPrincipalSegundo{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;        
}

#contenedorInicioPrincipalSegundo #fotos{
    width: 650px;
    height: 500px;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;  

}

#contenedorInicioPrincipalSegundo .imagenInicio{
    width: 180px;
    height: 150px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 50px;
}
.imagenInicio:hover {
    padding: 15px 15px;
    border-style: groove ;
    background:var(--border-color);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0,6s ease 0s;
}

#contenedorInicioPrincipalSegundo .subtitulo {
    background-color: #a4a4a484;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    border-radius: 20%;
    margin: auto;
    padding: 10px 10px;
    justify-content: center;

}

#contenedorInicioPrincipalSegundo .subtitulo2 {
    background-color: #a4a4a484;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    border-radius: 20%;
    margin: auto;
    padding: 10px 10px;
}
/*fin de segunda seccion de imagenes del Inicio*/


/*Fin de pagina de inicio*/

footer{
    background-color: green;
}

    /*Inicio de la pagina Actividades*/
    /*main Actividades*/
    #actividades {
        padding: 50px;
        display: flex ;
    }
    /*Subtitulo Actividades*/
    .subtituloPrincipal{
        background-color: rgba(240, 255, 255, 0.785);
        text-align: center;
        color: #000000;
        text-decoration: underline;
        padding: 1rem;
        border: #000000;
        border-style: groove;
        border-radius: 50px;
    }

    p{
        font-size: larger;
        justify-content: center;
        color: #fff;
        padding: 50px;
        border: #fff 4px dashed;
        border-radius: 10px;
    }

    .actividades1{
        display: inline-flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: rgba(137, 238, 21, 0.67);
        width: 50%;
        float: inline-start;
        margin: 1rem;
        justify-content: space-around;
        padding-top: -5px;
    }

    .actividades1 h3, .actividades2 h3{
        background-color: #00000042;
        padding: none;
        border: #030303 3px dashed;
        font-size: 60px;
        border-radius: 10px;

    }

    #actividades .imagenActividades {
        display: inline-flex;
        width: 180px;
        height: 150px;
        flex-direction: column;
        border-radius: 10px;
    }
    .actividades1 .actividadesTexto,.actividades2 .actividadesTexto {
        display: inline-flex;
        width: 100%;
        background-color:#030303;
        flex-direction: column;
        border-radius:20px ;
        padding: 1rem;

    }
    .actividades2{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: rgb(137, 238, 21, 0.67);
        width: 50%;
        float: right;
        margin: 1rem;
        justify-content: space-around;
    }
    /*Fin de la pagina Actividades*/

/*Inicio de la pagina "Horario de clases"*/
/*Estilo de tabla*/
#tabla {
    display: flex;
    justify-content: center;
    border-color: rgba(9, 248, 37, 0.725);
    border-style: ridge;
    background-color: rgba(0, 0, 0, 0.574);
    font-style: italic;    
    padding: 2rem;
    border-radius: 10px;
}
/*Fin de estilo de tabla*/

/*Estilos de celdas*/
th{
    background-color: rgba(11, 238, 61, 0.356);
    padding: 1rem;
    border-radius: 15px;
}
.gris {
    background-color: rgba(51, 68, 68, 0.325);
}
/*Fin de estilos de celdas*/


/*Estilo de la descripcion*/
section .horariodeclases{
    background-color: rgba(11, 238, 61, 0.356);
    width: 100%;
    height: 230px;
    border: 9px dashed;
}
/*Fin de Estilo de la pestaña "Horario de clases"*/



/*Inicio de la pagina de "nosotros"*/
/*Imagen principal de la pagina de "nosotros"*/
.imagenNosotros{
    width: 80%;
    height: 400px;
    border: #fff 4px solid;
    border-radius: 40px;
    
}
/*primer parrafo de la pagina de "nosotros"*/
#nosotrosTexto{
    width: 80%;
    position: relative;
    top: -80px;
    right: -130px;
    background-color: #000000c0;
    padding: 10px 10px;
}

.subtituloNostros {
    display: flex;
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: fantasy;
    justify-content: flex-start;
    
}

.listas{
    border: 3px solid;
    border-radius: 20px;
    background-color: rgba(11, 238, 61, 0.356);
    padding: 1rem; ;
}



#subtituloListas{
    display: flex;
    background-color:  rgba(51, 68, 68, 0.325);
    padding: 10px;
    font-size: 25px;
    text-decoration:underline;
    border-radius: 10px;
}
/*Fin de la pagina de "nosotros"*/

/*Inicio de la pagina de "Prueba"*/
/*Parrafo de la pestaña de pase de prueba*/
.textoPrueba{
    font-size: 25px;
    padding: 20px 20px;
    border-style: outset;
    background:var(--border-color);  
}
/*Formulario de la pestaña prueba*/
.form-grup{
    padding: 10px 10px;
    margin:auto;
    margin-top: 20px;
    border-radius: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background:var(--border-color);
}

#legend{
    border-style: double;
    font-size: 50px;
    background:var(--border-color);
    border-radius: 10px;
    padding: 40px;

}
.form-label{
    font-size: 25px;
    text-decoration: underline;
    padding: 25px;
    
}

.form-input{
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16;
    border:2px solid black;
}

.btn{
    background-color: rgb(12, 233, 45);
    border-radius: 5px;
    padding: 25px;
    margin:25px;
    box-shadow: 0 0 5px rgb(6, 239, 130)
    0 0 25px rgb(6, 239, 130);
}
.btn:hover{
        box-shadow: 0 0 5px rgb(0, 255, 72),
        0 0 25px, 0 0 50px rgb(0, 255, 72),
        0 0 100px rgb(0, 255, 72), 0 0 200px rgb(0, 255, 72);
}
/*Fin del formulario de la pestaña prueba*/

/*Inicio de la pagina de tienda*/
#pagos{
    background-color: rgba(0, 0, 0, 0.551);
    height: 100vh;
    width:100%;
    
}



#pagos .btn-anual{
    float: right;
    height: 100vh;
    width:70vh;
    padding: 3px 40px;
    position:relative;
    right: 12%; 
    border-radius: 25px;
    border-style: dashed;
    border-color: #fff;
    background:var(--border-color);
}

.TextoBoton{
    padding: 0px;
    color: #000000ab;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin-top: 5x  0px;
    background-color: rgba(128, 128, 128, 0.545);
}

#pagos .btn-mensual{
    float: left;
    height: 100vh;
    width:70vh;
    padding: 3px 50px;
    position:relative;
    left: 12%;
    border-radius: 25px;
    border-style: dashed;
    border-color: #fff;
    background:var(--border-color);
}

.imagenTienda{
    width: 50%;
    height: 25%;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.545);
    margin-top: 70px;
    margin-bottom: 0px;
 }   

 .boton{
    background-color: rgb(12, 233, 45);
    border-radius: 25px;
    padding: 25px;
    margin: 50px 0px;
    box-shadow: 0 0 5px rgb(6, 239, 130)
    0 0 25px rgb(6, 239, 130);
    
}
.boton:hover{   
        box-shadow: 0 0 5px rgb(0, 255, 72),
        0 0 25px, 0 0 50px rgb(0, 255, 72),
        0 0 100px rgb(0, 255, 72), 0 0 200px rgb(0, 255, 72);
}
/*Fin de la pagina de tienda*/

/*Inicio Footer*/
footer{
    background:var(--border-color);
    display: flex;
    width: 100%;
}
/*Logo*/
#logofooter {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #58555559;
    width:25%;
    background:var(--border-color);
}

/*Contenido de la navegacion*/







footer #mapa{
    height: 100%;
    width: 100%;
    padding-top: 15px ;
    padding-left:15px ;
    padding-bottom:15px ;
    padding-right: 15px;
    border-radius: 30px;
}

.subtituloFooter{
    background-color: #0000004c;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    border-radius: 10px;
}
.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

}
.iconos{
    display:flex;
    width: 100%;
    font-size: 40px;
    justify-content: space-evenly;
}

.iconos .facebook {
    color: blue;
    padding-top: 3px;
    padding-bottom: 3px;
}

.iconos .instagram {
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}

.iconos .whatsapp {
    color: #04fb3e;
    padding-top: 3px;
    padding-bottom: 3px;
}

.iconos a:hover {
    transform: scale(1.5);
}



/**************************/

/*Lo hacemos responsive*/
/*Vista tablet*/
/*768px hasta 1023px aproximadamente*/

footer {
    display: none; /* Oculta el footer */
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#mapa {
    width: 100%;
    height: 500px; 
    border: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: #070707;
    text-decoration: none;
    
}

/* Estilos responsivos para pantallas pequeñas */
@media (min-width: 580px) {
    /* Muestra el footer cuando el ancho de la pantalla sea mayor o igual a 580px */
    footer {
        display: block;
    }
    .redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    
    }
    .iconos{
        display:flex;
        width: 100%;
        font-size: 40px;
        justify-content: space-evenly;
    }
    
    .iconos .facebook {
        color: blue;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .iconos .instagram {
        color: #fff;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .iconos .whatsapp {
        color: #04fb3e;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .iconos a:hover {
        transform: scale(1.5);
    }
}

/* Estilos responsivos para pantallas muy pequeñas */
@media (max-width: 580px) {
    nav ul li {
        display: none; /* Oculta los elementos del menú */
    }
}
@media (max-width: 400px) {
    #titulo {
        display: none; /* Oculta el elemento con id "titulo" */
    }
    .subtitulo1{
        display: none;
    }
    .imagenTienda{
        width: auto;
        height: 200px;
    }
}

.contenedor .row{
    justify-content: space-evenly;

}