@charset "UTF-8";
/* header */
/* line 3, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_navbar.scss */
.encabezado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

/* line 10, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_navbar.scss */
.navbar-toggler {
  background: var(--color-degrade);
}

/* line 14, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_navbar.scss */
:root {
  --color-degrade:linear-gradient(to right, green -50%, yellow 70%);
}

/*navegador*/
/* line 20, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_navbar.scss */
nav ul li {
  list-style: none;
  display: inline-block;
  background: linear-gradient();
  border-radius: 30px;
  padding: 16px;
}

/* line 30, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_navbar.scss */
nav ul li a:hover {
  color: #000000ed;
  padding: 10px 25px;
  background-color: #f5000032;
  border-style: groove;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0,3s ease 0s;
}

/* line 40, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_navbar.scss */
a {
  text-decoration: double;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/*Variables de fuentes*/
/*Otra alternativa*/
/*Variables de colores*/
/* line 1, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
/* line 9, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_reset.scss */
body {
  background-color: #000000;
}

/*main */
/* line 15, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_reset.scss */
main {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 30px 30px;
}

/*inicio de pagina de Inicio*/
/* line 24, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_reset.scss */
#contenedorInicio {
  background-color: #020202;
  justify-content: center;
  align-items: center;
}

/* line 30, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_reset.scss */
#tienda {
  background-color: black;
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* titulo*/
/* line 3, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_titulos.scss */
#titulo {
  font-family: "Permanent Marker", cursive, sans-serif;
  text-align: center;
  background: linear-gradient(to right, green -50%, yellow 70%);
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  background-color: #000000;
}

/* line 16, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_titulos.scss */
:root {
  --border-color: linear-gradient(to right, green 0%, yellow 100%);
}

/*Subtitulo Actividades*/
/* line 22, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_titulos.scss */
.subtituloPrincipal {
  background-color: rgba(240, 255, 255, 0.785);
  text-align: center;
  color: #000000;
  text-decoration: underline;
  padding: 10px 10px;
  border: #000000;
  border-style: groove;
  border-radius: 50px;
}

/* Estilos del título */
/* line 35, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_titulos.scss */
.card-title {
  background-color: #00000083;
  color: #fff !important;
  padding: none;
  border: #030303 3px groove;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
}

/**************************/
/*Lo hacemos responsive*/
/*Vista tablet*/
/*768px hasta 1023px aproximadamente*/
/* line 6, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 12, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
#mapa {
  width: 100%;
  height: 500px;
  border: none;
}

/* line 18, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
nav ul {
  list-style: none;
  padding: 0;
}

/* line 22, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

/* line 28, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
a {
  color: #070707;
  text-decoration: none;
}

@media (max-width: 710px) {
  /* line 34, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
  .card {
    width: 100%;
  }
}

/* Estilos responsivos para pantallas pequeñas */
@media (min-width: 492px) {
  /* Muestra el footer cuando el ancho de la pantalla sea mayor o igual a 576px */
  /* line 43, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
  #contenedorInicioPrincipalSegundo #fotos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* line 52, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
  footer {
    display: block;
  }
  /* line 56, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
  .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 400px) {
  /* line 66, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
  #titulo {
    display: none;
    /* Oculta el elemento con id "titulo" */
  }
  /* line 72, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
  .subtitulo1 {
    display: none;
  }
  /* line 76, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
  .imagenTienda {
    width: auto;
    height: 200px;
  }
  /* line 81, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_responsive.scss */
  #legend {
    display: none;
  }
}

/*Inicio Footer*/
/* line 3, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_footer.scss */
footer {
  background: linear-gradient(to right, green -50%, yellow 70%);
  display: flex;
  width: 100%;
  background-color: #333;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

/* line 12, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_footer.scss */
footer #mapa {
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-radius: 30px;
}

/*Listas desordenada del acordion de "nosotros"*/
/* line 2, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_acordion.scss */
.listas {
  border: 3px solid;
  border-radius: 20px;
  background: linear-gradient(to right, green -50%, yellow 70%);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* line 13, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_acordion.scss */
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #225522;
  padding: 20px;
  border-radius: 10px;
}

/* line 21, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_acordion.scss */
.accordion-item {
  background-color: #115511;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, green -50%, yellow 70%);
}

/* line 30, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_acordion.scss */
.accordion-button {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(to right, green -50%, yellow 70%);
}

/* line 37, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_acordion.scss */
.accordion-collapse {
  background-color: #07070770;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

/*Fin de la pagina de "nosotros"*/
/* line 1, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_botones.scss */
.btn {
  background-color: #0ce92d;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 5px #06ef82, 0 0 25px #06ef82;
  cursor: pointer;
}

/* line 9, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_botones.scss */
.btn:hover {
  color: #fff;
  box-shadow: 0 0 5px #00ff48, 0 0 25px #00ff48, 0 0 50px #00ff48, 0 0 100px #00ff48, 0 0 200px #00ff48;
}

/*Fin del formulario de la pestaña prueba*/
/*boton de la pestaña tienda*/
/* line 17, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_botones.scss */
.boton {
  background-color: black;
  border-radius: 25px;
  padding: 25px;
  margin: 50px 0px;
  box-shadow: 0 0 5px #06ef82 0 0 25px #06ef82;
}

/* line 24, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_botones.scss */
.boton:hover {
  box-shadow: 0 0 5px #00ff48, 0 0 25px, 0 0 50px #00ff48, 0 0 100px #00ff48, 0 0 200px #00ff48;
}

/* line 1, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_tabla.scss */
#tabla {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-color: rgba(9, 248, 37, 0.725);
  border-style: ridge;
  background-color: rgba(0, 0, 0, 0.574);
  font-style: italic;
  padding: 3rem;
  border-radius: 10px;
}

/*Estilos de celdas*/
/* line 17, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_tabla.scss */
th {
  background-color: rgba(11, 238, 61, 0.356);
  padding: 1rem;
  border-radius: 15px;
  width: 10%;
  max-width: 15%;
}

/* line 25, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_tabla.scss */
.hora {
  background-color: rgba(51, 68, 68, 0.325);
  width: 10%;
  max-width: 15%;
}

/*Fin de estilos de celdas*/
/*Formulario de la pestaña prueba*/
/* line 3, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_formulario.scss */
.form-group {
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: linear-gradient(to right, green -50%, yellow 70%);
}

/* line 13, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_formulario.scss */
#legend {
  border-style: double;
  font-size: 40px;
  background: linear-gradient(to right, green -50%, yellow 70%);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

/* line 22, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_formulario.scss */
.form-label {
  font-size: 20px;
  text-decoration: underline;
  padding: 10px;
}

/* line 28, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_formulario.scss */
.form-input {
  background-color: #f3f3f3;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
}

/*Estilo de la descripcion debajo de la tabla*/
/* line 2, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_texto.scss */
section .horariodeclases {
  background-color: rgba(5, 243, 5, 0.486);
  padding: 10px;
  width: 100%;
  height: auto;
  border: 3px groove;
}

/*Fin de Estilo de la pestaña "Horario de clases"*/
/*primer parrafo de la pagina de "nosotros"*/
/* line 14, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_texto.scss */
.subtituloNostros {
  display: flex;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: cursive;
  justify-content: flex-start;
}

/*Parrafo de la pestaña de pase de prueba*/
/* line 25, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_texto.scss */
.textoPrueba {
  font-family: sans-serif;
  font-size: 25px;
  border-radius: 10px;
  padding: 20px 20px;
  border-style: outset;
  background: linear-gradient(to right, green -50%, yellow 70%);
}

/*Inicio de la pagina de tienda*/
/* line 36, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_texto.scss */
.TextoBoton {
  padding: 5px;
  color: #000000ab;
  font-family: sans-serif;
  font-size: larger;
  margin: 5px  0px;
  background: linear-gradient(to right, green -50%, yellow 70%);
  border-radius: 10px;
}

/*logo*/
/* line 3, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_imagenes.scss */
.logo {
  height: 85px;
  border-radius: 10px;
  border-style: groove;
  background: linear-gradient(to right, green -50%, yellow 70%);
  width: auto;
  padding: 2px;
}

/* line 11, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_imagenes.scss */
.logo:hover {
  padding: 10px 25px;
  border-style: double;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0, 6s ease 0s;
}

/* Estilos de la imagen Actividades*/
/* line 22, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_imagenes.scss */
.imagenActividades {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

/*Imagen principal de la pagina de "nosotros"*/
/* line 31, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_imagenes.scss */
.imagenNosotros {
  width: 20%;
  height: auto;
  border: #fff 4px solid;
  border-radius: 40px;
}

/* line 38, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_imagenes.scss */
.imagenTienda {
  width: 10rem;
  height: 10rem;
  border-radius: 25px;
  background: linear-gradient(to right, green -50%, yellow 70%);
}

/*Contenido de la navegacion*/
/* line 3, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_redes.scss */
.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  font-size: 40px;
  justify-content: space-evenly;
}

/* line 14, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_redes.scss */
.redes .facebook {
  color: blue;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* line 21, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_redes.scss */
.redes .instagram {
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* line 27, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_redes.scss */
.redes .whatsapp {
  color: #04fb3e;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* line 33, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_redes.scss */
.redes .redes a:hover {
  transform: scale(1.5);
}

/* Estilos de la galería de tarjetas */
/* line 3, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_card.scss */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  justify-items: center;
}

/* line 10, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_card.scss */
.maincontainer {
  position: relative;
  width: 250px;
  height: 320px;
  display: flex;
}

/* line 17, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_card.scss */
.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

/* line 24, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_card.scss */
.thecard:hover {
  transform: rotateY(180deg);
}

/* line 29, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_card.scss */
.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(to right, green -50%, yellow 70%);
  color: #333;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
}

/* line 43, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_card.scss */
.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(to right, green -50%, yellow 70%);
  color: #333;
  transform: rotateY(180deg);
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
}

/* Texto de la tarjeta */
/* line 58, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_card.scss */
.actividadesTexto {
  font-family: "Arial", sans-serif;
  margin-top: 10px;
  line-height: 1.4;
}

/* Estilos de las tarjetas al hacer hover */
/* line 66, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_card.scss */
.card:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
  transform: scale(1.04);
  transition: all 1s ease;
}

/*Primer seccion Imagen del Inicio*/
/* line 3, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
.contenedorInicioPrincipal {
  background-color: black;
  height: 600px;
  width: 100%;
}

/* line 8, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
.contenedorInicioPrincipal a .imagenTienda {
  display: inline-flex;
  border-radius: 50px;
  height: 400px;
  width: 80%;
  background: linear-gradient(to right, green -50%, yellow 70%);
  border-style: double;
}

/* line 17, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
.contenedorInicioPrincipal .subtitulo1 {
  width: 400px;
  background-color: #a4a4a484;
  font-family: "Permanent Marker", cursive, sans-serif;
  font-size: 25px;
  border-radius: 20%;
  margin: auto;
  padding: 10px 10px;
}

/* line 28, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
.imagenTienda:hover {
  padding: 15px 15px;
  border-style: double;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0,6s ease 0s;
}

/*Fin Primer Imagen del Inicio*/
/*segunda seccion de imagenes del Inicio*/
/* line 39, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
#contenedorInicioPrincipalSegundo {
  display: inline-flex;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* line 46, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
#contenedorInicioPrincipalSegundo #fotos {
  width: 650px;
  height: auto;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 55, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
#contenedorInicioPrincipalSegundo .imagenInicio {
  width: 180px;
  height: 150px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 50px;
}

/* line 66, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
.imagenInicio:hover {
  padding: 15px 15px;
  border-style: groove;
  background: linear-gradient(to right, green -50%, yellow 70%);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0,6s ease 0s;
}

/* line 76, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
#contenedorInicioPrincipalSegundo .subtitulo {
  background-color: #a4a4a484;
  font-family: "Permanent Marker", cursive, sans-serif;
  font-size: 15px;
  border-radius: 20%;
  margin: auto;
  padding: 10px 10px;
  justify-content: center;
}

/* line 86, E:/DESARROLLO WEB/3ºer Pre-entrega/sass/_inicio.scss */
#contenedorInicioPrincipalSegundo .subtitulo2 {
  background-color: #a4a4a484;
  font-family: "Permanent Marker", cursive, sans-serif;
  font-size: 15px;
  border-radius: 20%;
  margin: auto;
  padding: 10px 10px;
}

/*fin de segunda seccion de imagenes del Inicio*/
/*Fin de pagina de inicio*/

/*# sourceMappingURL=estilo.css.map */