/* header */

.encabezado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
  }
  
  .navbar-toggler {
    background: var(--color-degrade);
  }
  
  :root {
    --color-degrade:linear-gradient(to right, green -50%, yellow 70%);
  }
  
  /*navegador*/

nav ul li {
    list-style: none;
    display: inline-block;
    background: var(--border-color);
    border-radius: 30px;
    padding: 16px;
  }
  
 
  
  nav ul li a:hover {
    color: #000000ed;
    padding: 10px 25px;
    background-color: #f5000032;
    border-style: groove;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
  }

  a {
    text-decoration: double;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  