
/*Variables de fuentes*/
$font-stack: 'Permanent Marker', cursive, sans-serif;

$font-textoPrueba: sans-serif;
$font-form-group: Arial, Helvetica, sans-serif;
$font-footer: sans-serif;
/*Otra alternativa*/
$font-header: 'Montserrat', sans-serif;
$font-subheader: 'Roboto', sans-serif;
$font-text: 'Arial', sans-serif;

/*Variables de colores*/

$color-border: linear-gradient(to right, green -50%, yellow 70%);
$color-border2: linear-gradient(to right, rgb(5, 5, 5)rgb(129, 129, 129) yellow 70%);
$color-background-header: #333;
$color-background-logo: $color-border;
$color-background-nav: $color-border;
$color-background-subtitulo1: #a4a4a484;
$color-background-card-container: #00000083;
$color-background-card-hover: grey;
$color-background-accordion-item: #115511;
$color-background-accordion-button: $color-border;
$color-background-accordion-collapse: #07070770;
$color-background-form-group: $color-border;
$color-background-legend: $color-border;
$color-background-form-input: rgb(243, 243, 243);
$color-background-btn: rgb(0, 0, 0);
$color-background-boton: rgb(0, 0, 0);
$color-background-boton-hover: $color-border;
$color-background-TextoBoton: $color-border;
$color-background-imagenTienda: $color-border;
$color-background-redes: $color-border;
