
*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
}
/* header */
.encabezado {
    display: flex; 
    justify-content: space-evenly;  
    align-items:center;
    height: 100px;
}
.navbar-toggler{
    background:var(--border-color);
}
:root {
    --border-color: linear-gradient(
    to right,
    green -50%,
    yellow 70%)

}
/*logo*/
.logo {
    height: 85px;
    border-radius: 10px;
    border-style: groove;
    background:var(--border-color);
    width: auto;
    padding: 2px;
}

.logo:hover {
    padding: 10px 25px;
    border-style: double ;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0,6s ease 0s;
}
 /*navegador*/
nav ul li {
    list-style: none;
    display: inline-block;
    background:var(--border-color);
    border-radius: 30px;
    padding: 16px;
}
:root {
    --border-color: linear-gradient(
    to right,
    green -50%,
    yellow 70%)

}
nav ul li a:hover{
    color: #000000ed;
    padding: 10px 25px;
    background-color: #f5000032;
    border-style: groove;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
}
a {
    text-decoration: double;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(0, 0, 0)
}
/* titulo*/
#titulo {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    background:var(--border-color);  
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    background-color: #000000;
}
:root {
    --border-color: linear-gradient(
    to right,
    green 0%,
    yellow 100%)

}
/* body */
body{
    background-color: #000000
}

/*main */
main {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 30px 30px;
}
/*inicio de pagina de Inicio*/
#contenedorInicio{
    background-color: rgb(2, 2, 2);
    justify-content: center;
    align-items: center;
}
/*Primer seccion Imagen del Inicio*/
.contenedorInicioPrincipal{
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 100%;
}
.contenedorInicioPrincipal a .imagenTienda{
    display: inline-flex;
    border-radius: 50px;
    height: 400px;
    width: 80%;
    background:var(--border-color);
    border-style: double;
}
.contenedorInicioPrincipal .subtitulo1 {
    width: 400px;
    background-color: #a4a4a484;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    border-radius: 20%;
    margin: auto;
    padding: 10px 10px;
}
.imagenTienda:hover {
    padding: 15px 15px;
    border-style: double;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0,6s ease 0s;
}
/*Fin Primer Imagen del Inicio*/
/*segunda seccion de imagenes del Inicio*/
#contenedorInicioPrincipalSegundo{
    display: inline-flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: space-evenly;        
}
#contenedorInicioPrincipalSegundo #fotos{
    width: 650px;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;  

}
#contenedorInicioPrincipalSegundo .imagenInicio{
    width: 180px;
    height: 150px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 50px;
}
.imagenInicio:hover {
    padding: 15px 15px;
    border-style: groove ;
    background:var(--border-color);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0,6s ease 0s;
}
#contenedorInicioPrincipalSegundo .subtitulo {
    background-color: #a4a4a484;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    border-radius: 20%;
    margin: auto;
    padding: 10px 10px;
    justify-content: center;

}
#contenedorInicioPrincipalSegundo .subtitulo2 {
    background-color: #a4a4a484;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    border-radius: 20%;
    margin: auto;
    padding: 10px 10px;
}
/*fin de segunda seccion de imagenes del Inicio*/
/*Fin de pagina de inicio*/
    /*Inicio de la pagina Actividades*/
    /*Subtitulo Actividades*/
    .subtituloPrincipal{
        background-color: rgba(240, 255, 255, 0.785);
        text-align: center;
        color: #000000;
        text-decoration: underline;
        padding: 10px 10px;
        border: #000000;
        border-style: groove;
        border-radius: 50px;
    }
/* Estilos de la galería de tarjetas */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    justify-items: center;
}
.maincontainer {
    position: relative;
    width: 250px;
    height: 320px;
    display: flex;
}
.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.thecard:hover {
    transform: rotateY(180deg);
}
.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--border-color);
    color: #333;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
}
.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--border-color);
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
}
/* Estilos de la imagen */
.imagenActividades {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}
/* Estilos del título y texto de la tarjeta */
.card-title {
    background-color: #00000083;
    color: #fff !important;
    padding: none;
    border: #030303 3px groove;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
}
.actividadesTexto {
    margin-top: 10px;
    line-height: 1.4;
}
/* Estilos de las tarjetas al hacer hover */
.card:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
    transform: scale(1.04);
    transition: all 1s ease;
}
/* Fin de la pagina "actividades" */
/*Inicio de la pagina "Horario de clases"*/
/*Estilo de tabla*/
#tabla {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-color: rgba(9, 248, 37, 0.725);
    border-style: ridge;
    background-color: rgba(0, 0, 0, 0.574);
    font-style: italic;    
    padding: 3rem;
    border-radius: 10px;
}
/* Ajusta el tamaño de fuente y otros estilos según sea necesario */
/*Fin de estilo de tabla*/
/*Estilos de celdas*/
th{ 
    background-color: rgba(11, 238, 61, 0.356);
    padding: 1rem;
    border-radius: 15px;
    width: 10%; /* Establece un ancho relativo para las columnas de encabezado */
    max-width: 15%; /* Establece un ancho máximo para las columnas de encabezado */
}

.hora {
    background-color: rgba(51, 68, 68, 0.325);
    width: 10%; /* Establece un ancho relativo para las celdas de hora */
    max-width: 15%; /* Establece un ancho máximo para las celdas de hora */
}
/*Fin de estilos de celdas*/
/*Estilo de la descripcion*/
section .horariodeclases{
    background-color:rgba(5, 243, 5, 0.486);
    padding: 10px;
    width: 100%;
    height: auto;
    border: 3px groove;
}
/*Fin de Estilo de la pestaña "Horario de clases"*/
/*Inicio de la pagina de "nosotros"*/
/*Imagen principal de la pagina de "nosotros"*/
.imagenNosotros{
    width:20%;
    height: auto;
    border: #fff 4px solid;
    border-radius: 40px;
    
}
/*primer parrafo de la pagina de "nosotros"*/
.subtituloNostros {
    display: flex;
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    font-family:cursive;
    justify-content: flex-start;
    
    
}
.listas{
    border: 3px solid;
    border-radius: 20px;
    background: var(--border-color);
    padding: 1rem; ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container {
    max-width: 600px;
    margin: 0 auto; 
    background-color: #225522; 
    padding: 20px;
    border-radius: 10px;
}
.accordion-item {
    background-color: #115511; 
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background:var(--border-color);
}
.accordion-button {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background:var(--border-color);
}
.accordion-collapse {
    background-color: #07070770;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}
/*Fin de la pagina de "nosotros"*/
/*Inicio de la pagina de "Prueba"*/
/*Parrafo de la pestaña de pase de prueba*/
.textoPrueba{
    font-size: 25px;
    border-radius: 10px;
    padding: 20px 20px;
    border-style: outset;
    background:var(--border-color);  
}
/*Formulario de la pestaña prueba*/
.form-group {
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: var(--border-color);
}
#legend {
    border-style: double;
    font-size: 40px;
    background: var(--border-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.form-label {
    font-size: 20px;
    text-decoration: underline;
    padding: 10px;
}
.form-input {
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
}
.btn {
    background-color: rgb(12, 233, 45);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 5px rgb(6, 239, 130), 0 0 25px rgb(6, 239, 130);
    cursor: pointer;
}
.btn:hover {
    color: #fff;
    box-shadow: 0 0 5px rgb(0, 255, 72),
    0 0 25px rgb(0, 255, 72),
    0 0 50px rgb(0, 255, 72),
    0 0 100px rgb(0, 255, 72),
    0 0 200px rgb(0, 255, 72);
}
/*Fin del formulario de la pestaña prueba*/
/*Inicio de la pagina de tienda*/
.TextoBoton{
    padding: 5px;
    color: #000000ab;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin: 5px  0px;
    background: var(--border-color);
    border-radius: 10px;
}

.imagenTienda{
    width: 10rem;
    height: 10rem;
    border-radius: 25px;
    background:var(--border-color);
 }   

 .boton{
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 25px;
    margin: 50px 0px;
    box-shadow: 0 0 5px rgb(6, 239, 130)
    0 0 25px rgb(6, 239, 130);
    
}
.boton:hover{   
                    
        box-shadow: 0 0 5px rgb(0, 255, 72),
        0 0 25px, 0 0 50px rgb(0, 255, 72),
        0 0 100px rgb(0, 255, 72), 0 0 200px rgb(0, 255, 72);
}
#tienda {
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    text-align: center;
}
.pack {
    background:var(--border-color);
    border: 2px dashed #fff;
    border-radius: 25px;
    padding: 20px;
    margin: 20px
}
/*Fin de la pagina de tienda*/
/*Inicio Footer*/
footer{
    background:var(--border-color);
    display: flex;
    width: 100%;
    background-color: #333;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    
}
/*Contenido de la navegacion*/
footer #mapa{
    height: 100%;
    width: 100%;
    padding-top: 15px ;
    padding-left:15px ;
    padding-bottom:15px ;
    padding-right: 15px;
    border-radius: 30px;
}
.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

}
.redes{
    display:flex;
    width: 100%;
    font-size: 40px;
    justify-content: space-evenly;
}

.redes .facebook {
    color: blue;
    padding-top: 3px;
    padding-bottom: 3px;
}

.instagram {
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}

.whatsapp {
    color: #04fb3e;
    padding-top: 3px;
    padding-bottom: 3px;
}

.redes a:hover {
    transform: scale(1.5);
}

/**************************/
/*Lo hacemos responsive*/
/*Vista tablet*/
/*768px hasta 1023px aproximadamente*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
#mapa {
    width: 100%;
    height: 500px; 
    border: none;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    color: #070707;
    text-decoration: none;
    
}
@media (max-width:710px) {
    .card{
        width: 100%;
    }
}
/* Estilos responsivos para pantallas pequeñas */
@media (min-width: 492px) {
    /* Muestra el footer cuando el ancho de la pantalla sea mayor o igual a 576px */
    
    #contenedorInicioPrincipalSegundo #fotos{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;  
    
    } 
    footer {
        display: block;
    }
    .redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    
    }
   
}
@media (max-width: 400px) {
    #titulo {
        display: none; /* Oculta el elemento con id "titulo" */
    }
    .subtitulo1{
        display: none;
    }
    .imagenTienda{
        width: auto;
        height: 200px;
    }
    #legend{
        display: none;
    }
}

